#root {
  margin: 0 auto;
  text-align: center;
}

*{
  margin: 0;
  padding: 0%;
}

.conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: beige;
  
}

